build -c opt
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
build --experimental_repo_remote_exec
build --linkopt="-lpthread -lm -framework CoreFoundation"
build --action_env=PYTHON_BIN_PATH="/Users/pierremarcenac/.pyenv/shims/python"
build --python_path="/Users/pierremarcenac/.pyenv/shims/python"
build --action_env=PYTHON_LIB_PATH="/Users/pierremarcenac/.pyenv/versions/python3.10/lib/python3.10/site-packages"
build --action_env=CXXFLAGS=-stdlib=libc++ --action_env=LDFLAGS=-stdlib=libc++ --action_env=BAZEL_CXXOPTS=-stdlib=libc++ --action_env=BAZEL_LINKOPTS=-lc++:-lm
