common --enable_bzlmod
build -c opt
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
build --experimental_repo_remote_exec
build --toolchain_resolution_debug='@@rules_python//python/cc:toolchain_type'
